body {
    height: 100vh;
    
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.grid-container {
    background: url('./images/Aesop-Homepage-Banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid; */
    /* display: grid; */
    /* grid-template-columns: 60px 60px 60px 60px 4fr ;
    grid-template-rows: 2fr 5fr;
    
    padding: 18px; */
    color: azure;
    height: 600px;
    
    opacity: 0;
    transition: opacity 1s ease-in;
}


.fade-in.appear {
    opacity: 1;
}

.carousel {
    opacity: 0;
    transition: opacity 1s ease-in;
}


.shop {
    /* border: solid; */
    text-align: right;
    
}

.read {
    /* border: solid; */
    text-align: right;
    
}

.stores {
    /* border: solid; */
    text-align: right;
    
}

.search {
    /* border: solid; */
    text-align: right;
    
}

.login {
    text-align: right;
    /* border: solid; */
    
}

.aesop {
    /* border: solid; */
    /* grid-column: 1 / 5; */
    padding-left: 30px;
}

.intro {
    padding-left: 120px;
    /* border: solid; */
}




/* carousel */
.carousel {
    padding: 100px;
    
}


/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 2px;
    width: 300px;
    margin: 0;
    border-radius: 0;
  }

  /* square button */
.flickity-button {
    background: #333;
  }
  .flickity-button:hover {
    background: #333;
  }
  
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 1px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: white;
  }
  /* position outside */
  .flickity-prev-next-button.previous {
    height: 70px;
    width: 70px;
  }
  .flickity-prev-next-button.next {
    height: 70px;
    width: 70px;
  }

  /* size of cell */
  .carousel-cell {
    width: 25%; /* 25% width */
    margin-right: 30px;
    /* border: solid; */
    text-align: center;
    
  }

  .carousel {
      /* border: solid; */
      padding-right: 0px;
  }

  .carousel-cell.largeCell {
      /* margin-right: 40px; */
      width: 40%;
  }

  .carousel-cell.mediumCell {
    width: 30%;
    height: 100%;
    padding-top: 87px;
  }

  .carousel-cell.largerSlider {
      width: 100%;
      
  }


  
/* second parent-div */
  .first-text-in-second-parent-div {
    /* padding-right: 100px;
    width: 640px; */
    padding-top: 0px;
    text-align: center;
    /* border: solid; */
}

.third-container {
    padding-top: 300px;
    padding-bottom: 200px;
    /* display: flex;
    align-self: flex-end; */
    opacity: 0;
    transition: opacity 1s ease-in;
    /* border: solid red; */
}

.image-in-second-parent-div {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    /* min-width: 150px;
    min-height: 100px; */
    /* border: solid; */
}

.one-row-two-col {
    margin-top: 300px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.start {
    padding: 50px;
}

.add-padding {
    padding-left: 50px;
}

.moveImage {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.moveQuote {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}

.moveText {
    display: flex;
    justify-content: center;
    height: 150px;
}

.second-to-last {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.footer-fade {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.footerStyle {
    padding: 20px;
    background-color: #252525;
    color: #ffffff;
    margin-top: 40px;
}

@import url(//db.onlinewebfonts.com/c/5ebc09361aef4dbfa14ad8492b8cca11?family=SangBleu+Sunrise);

@font-face {font-family: "SangBleu Sunrise"; src: url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot"); src: url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff") format("woff"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.svg#SangBleu Sunrise") format("svg"); }

body {
    font-family: "SangBleu Sunrise";
    font-size: 0.85rem;
    
}


@media only screen and (max-width: 375px) {
    .carousel {
        padding: 0px;
        margin-top: 50px;
    }

    .carousel-cell {
        width: 100%;
        /* border: solid; */
    }

    .flickity-page-dots .dot {
        width: 50px;
        
      }
}

.add-cart {
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.image:hover .cart1,
.image:hover .cart2 {
    opacity: 1;
    padding: 10px;
}

 /* styles for cart */
 .slide-cart {
     position: absolute;
     top: 0px;
     height: 300px;
     width: 100%;
     background-color: #222;
     z-index: 1;
     overflow: hidden;
 }

 .inner-cart-container div {
     padding: 8px 8px 8px 64px;
     font-size: 1rem;
     color: #999;
     width: 50px;
 }

 .inner-cart-container .close-btn {
     position: absolute;
     top: 0px;
     right: 50px;
     font-size: 36px;
     margin-left: 32px;
 }

 .cart-container {
     height: 40px;
     margin-top: 30px;
     padding: 40px 40px 0px;
 }

 .inner-cart-container {
     padding: 0 0 15px;
     border-bottom: 2px solid #3b3b3a;
 }