body {
    margin: 0;
    height: 100vh;
}

header.container {
    background: url('./images/Aesop-Homepage-Banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid; */
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 4fr ;
    grid-template-rows: 2fr 5fr;
    height: 600px;
    color: azure;
}


.shop {
    /* border: solid; */
    text-align: right;
    
}

.read {
    /* border: solid; */
    text-align: right;
    
}

.stores {
    /* border: solid; */
    text-align: right;
    
}

.search {
    /* border: solid; */
    text-align: right;
    
}

.login {
    text-align: right;
    /* border: solid; */
    
}

.aesop {
    /* border: solid; */
    grid-column: 1 / 5;
    padding-left: 30px;
}

.intro {
    padding-left: 120px;
}