body {
    height: 100vh;
}

header.grid-container {
    background: url('./images/Aesop-Homepage-Banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid; */
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 4fr ;
    grid-template-rows: 2fr 5fr;
    height: 600px;
    color: azure;
    padding: 18px;
}


.shop {
    /* border: solid; */
    text-align: right;
    
}

.read {
    /* border: solid; */
    text-align: right;
    
}

.stores {
    /* border: solid; */
    text-align: right;
    
}

.search {
    /* border: solid; */
    text-align: right;
    
}

.login {
    text-align: right;
    /* border: solid; */
    
}

.aesop {
    /* border: solid; */
    grid-column: 1 / 5;
    padding-left: 30px;
}

.intro {
    padding-left: 120px;
}




/* carousel */
.carousel {
    padding: 100px;
    
}


/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 2px;
    width: 300px;
    margin: 0;
    border-radius: 0;
  }

  /* square button */
.flickity-button {
    background: #333;
  }
  .flickity-button:hover {
    background: #333;
  }
  
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 1px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: white;
  }
  /* position outside */
  .flickity-prev-next-button.previous {
    height: 70px;
    width: 70px;
  }
  .flickity-prev-next-button.next {
    height: 70px;
    width: 70px;
  }

  /* size of cell */
  .carousel-cell {
    width: 25%; /* 25% width */
    margin-right: 30px;
    /* border: solid; */
    text-align: center;
    
  }

  .carousel {
      /* border: solid; */
      padding-right: 0px;
  }

  .carousel-cell.largeCell {
      /* margin-right: 40px; */
      width: 40%;
  }

  .carousel-cell.mediumCell {
    width: 30%;
    height: 100%;
    padding-top: 87px;
  }

  .carousel-cell.largerSlider {
      width: 100%;
      /* border: solid; */
  }


  
/* second parent-div */
  .first-text-in-second-parent-div {
    padding: 70px;
    padding-top: 0px;
    
}

.third-container {
    padding-top: 300px;
    padding-bottom: 200px;
    display: flex;
    align-self: flex-end;
}

.image-in-second-parent-div {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

.one-row-two-col {
    margin-top: 300px;
}

.start {
    padding: 50px;
}

.add-padding {
    padding-left: 50px;
}

.moveImage {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.moveQuote {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
}

.moveText {
    display: flex;
    justify-content: center;
    height: 150px;
}

.footerStyle {
    padding: 20px;
    background-color: #252525;
    color: #ffffff;
    margin-top: 40px;
}

@import url(//db.onlinewebfonts.com/c/5ebc09361aef4dbfa14ad8492b8cca11?family=SangBleu+Sunrise);

@font-face {font-family: "SangBleu Sunrise"; src: url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot"); src: url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff") format("woff"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.svg#SangBleu Sunrise") format("svg"); }

body {
    font-family: "SangBleu Sunrise";
    font-size: 0.85rem;
    
}